.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: #FEFAE0;
    border-radius: 8px;
    max-width: 80%;
    width: 100%;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    max-height: 80vh;
    overflow-y: auto;
}

.modalCloseButton {
    position: absolute;
    top: -5px;
    right: 7px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    font-weight : bold;
    color: red;
}


.modalContent::-webkit-scrollbar {
    width: 8px;
}

.modalContent::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

.modalContent::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
