* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-y: auto; /* 수직 스크롤 허용 */
  overflow-x: hidden; /* 수평 스크롤 방지 */
}


/* MyPage 전용 컨테이너 */
.mypageContainer {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  min-height: 100vh; /* 화면 전체 높이 */
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

/* 로딩 화면 */
.loadingScreen {
  font-size: 2rem;
  color: #b99470;
  text-align: center;
}

/* 헤더 */
.mypageHeader {
  margin-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: bold;
  color: #B99470;
  margin-top: 0.5rem;
  text-align: center;
}


/* 카드 스타일 */
.mypageCard {
  width: 90%; /* 모바일에서도 여유 공간 확보 */
  max-width: 800px; /* 최대 크기 제한 */
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: white;
}

.mypageCardBody {
  padding: 1.5rem;
}

.mypageCardTitle{
  font-weight: bold;
  color: #B99470
}


/* 버튼 스타일 */
.mypageButton {
  background-color: #A6B37D;
  color: #FFFFFF;
  padding: 0.65rem 1.2rem;
  border-radius: 8px;
  font-weight: 500;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

.mypageButton:hover {
  background-color: #B99470;
  color: #FFFFFF;
  transform: translateY(-1px);
}

.mypageButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(185, 148, 112, 0.3);
}

.informationContainer{
  margin-top: 0.5rem;
}

/* 테이블 스타일 */
.mypageTable {
  width: 100%;
  margin-top: 1.5rem;
  border-collapse: collapse;
}

.mypageTable th,
.mypageTable td {
  text-align: left;
  padding: 0.75rem;
  border: 1px solid #ddd;
}

.mypageTable th {
  background-color: #f9f9f9;
  font-weight: bold;
}

.mypageTable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* 반응형 스타일 */
@media (max-width: 768px) {
  .mypageCardBody {
    padding: 1rem;
  }

  .mypageButton {
    font-size: 0.9rem;
  }

  .mypageHeader {
    font-size: 3rem; /* 작은 화면에서 헤더 크기 줄이기 */
  }
}

/* 배경 색상 */
body {
  background-color: #FEFAE0;
/* 전체 화면을 채우도록 설정 */
  /* display: flex;
  flex-direction: column;
  overflow-y: auto;  */
}

.orderListContainer {
  max-height: 60vh; /* 화면 높이의 60%까지만 보여줌 */
  overflow-y: auto; /* 스크롤 필요 시 활성화 */
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}